@use '/src/styles/settings/colors';
@use '/src/styles/tools/media';

.public {
  background-color: colors.$bg;
  color: colors.$text_white;
  min-height: 100vh;

  @include media.from(sm) {
    min-height: calc(100vh - 56px);
    margin-top: 56px;
  }
}
