.Button {
  font-size: clamp(0.75rem, 0.67rem + 0.42vw, 1rem);
  padding: 1em 2em;
  border-radius: 1.8em;
  color: white;
  background-color: #ff626a;
  border: none;
  font-weight: 700;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.Button:hover {
  background-color: darken($color: #ff626a, $amount: 20%);
}

.Button.ghost {
  background-color: #fff;
  color: #ff626a;
}

.Button.ghost:hover {
  background-color: darken($color: #ff626a, $amount: 20%);
  color: white;
}
