@use '/src/styles/tools/media';
@use '/src/styles/tools/helpers';

.grid {
  display: grid;
  gap: helpers.flowFromTo(10px, 20px);

  @include media.from(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media.from(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media.from(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.text-area {
  display: grid;
}

.checkbox__container {
  margin-bottom: 20px;
}
