@use '/src/styles/settings/colors';
@use '/src/styles/settings/typography';

body {
  font-family: typography.$ff_rubik;
  overflow-y: scroll;
}

::selection {
  background-color: colors.$bg_selection;
  color: colors.$text_selection;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: colors.$bg;
}

body::-webkit-scrollbar-thumb {
  background: rgba($color: #fff, $alpha: 0.102);
  border-radius: 4px;
}
