@use '/src/styles/tools/helpers';
@use '/src/styles/tools/media';

.bestProducts {
  padding-top: helpers.flowFromTo(50px, 76px);

  h2 {
    font-size: helpers.flowFromTo(20px, 30px);
    font-weight: bold;
    margin-bottom: helpers.flowFromTo(30px, 58px);
  }
}

.bestProductsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: helpers.flowFromTo(4px, 10px);

  img {
    height: auto;
  }

  picture {
    grid-row: span 2;

    img {
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  @include media.from(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}
