<section class="bestProducts">
  <h2>Los Mejores Productos.</h2>
  <div *ngIf="bestProducts.length === 0" class="spinnerContainer">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="bestProducts.length > 0" class="bestProductsList">
    <picture>
      <img
        ngSrc="assets/images/image_bestProducts.png"
        width="427"
        height="485"
        priority
        alt="bestProductImage" />
    </picture>
    <app-card-product *ngFor="let product of bestProducts" [product]="product"></app-card-product>
  </div>
</section>
