<div *ngIf="!product" class="spinnerContainer">
  <app-spinner></app-spinner>
</div>
<div *ngIf="product" class="productPage">
  <div class="hero">
    <div class="hero__cotntent container">
      <section class="imgageSection">
        <div class="imageContainer">
          <div class="bg__rounded"></div>
          <picture>
            <img [src]="selectedImage" alt="product" width="451" height="242" priority />
          </picture>
        </div>
      </section>
      <section class="imagesSecttion">
        <picture *ngFor="let image of product.images">
          <img (click)="selectImage(image)" [ngSrc]="image" width="45" height="45" alt="image" />
        </picture>
      </section>
      <section class="detailSection">
        <div class="content">
          <p class="brand">{{ product.brand | titlecase }}</p>
          <p class="name">{{ product.name | uppercase }}</p>
          <div class="containerAccion">
            <button (click)="addToCart()" mat-raised-button>Agregar al carrito</button>
            <p *ngIf="product.ofert > 0" class="price">
              {{ product.ofert | currency : 'S/. ' }}
            </p>
            <p [class.tached]="product.ofert > 0" class="price">
              {{ product.price | currency : 'S/. ' }}
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="descriptionTitle">
    <div class="container">
      <h2>descripción.</h2>
    </div>
  </div>
  <section class="descriptionContainer container">
    <div class="description">
      <p class="title">CALIDAD ASEGURADA</p>
      <p class="content">{{ product.description }}</p>
    </div>
    <div class="description">
      <p class="title">CARACTERÍSTICAS</p>
      <ul class="content">
        <li>
          <p><span class="strong">Marca:</span> {{ product.brand | titlecase }}</p>
        </li>
        <li>
          <p><span class="strong">Categoría:</span> {{ product.category | titlecase }}</p>
        </li>
        <li>
          <p><span class="strong">Género:</span> {{ product.gender | titlecase }}</p>
        </li>
        <li>
          <p><span class="strong">Color:</span> {{ product.color | titlecase }}</p>
        </li>
        <li>
          <p><span class="strong">Material:</span> {{ product.material | titlecase }}</p>
        </li>
      </ul>
    </div>
  </section>
</div>
