<div>
  <h2>Login.</h2>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" />
      <mat-error *ngIf="isTheFieldInvalid('email')">Formato inválido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" placeholder="****" formControlName="password" />
      <mat-error *ngIf="isTheFieldInvalid('password')">Mínimo 6 carateres</mat-error>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" mat-raised-button color="warn">Login</button>
  </form>
</div>
