<header class="navbar">
  <div class="container navbar__content">
    <section class="navbar__logo">
      <picture>
        <img src="assets/images/logo.svg" alt="logo" />
      </picture>
    </section>
    <nav class="navbar__nav">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
        </li>
      </ul>
    </nav>
    <section class="navbar__actions">
      <a routerLink="/carrito">
        <div class="navbar__itemImgeContainer">
          <div class="counterCart">
            <p>{{ totalObservable | async }}</p>
          </div>
          <img
            class="navbar__itemImage"
            ngSrc="assets/icons/shopping_cart.svg"
            width="24"
            height="24"
            alt="shopping cart" />
        </div>
      </a>
      <div class="navbar__loginConainer">
        <button (click)="toogleMenu()">
          <div class="navbar__itemImgeContainer auth">
            <span *ngIf="authService.userLoggedIn" style="color: white">{{
              authService.userLoggedIn.name | titlecase
            }}</span>
            <img
              *ngIf="!authService.userLoggedIn"
              class="navbar__itemImage"
              ngSrc="assets/icons/perm_identity.svg"
              width="24"
              height="24"
              alt="user" />
            <img
              class="navbar__itemImage"
              ngSrc="assets/icons/unfold_more.svg"
              width="24"
              height="24"
              alt="user" />
          </div>
        </button>
        <div [hidden]="showMenu" class="menu">
          <ul *ngIf="!authService.userLoggedIn">
            <li>
              <a (click)="toogleMenu()" routerLink="/auth/login">Iniciar sesión</a>
            </li>
            <li>
              <a (click)="toogleMenu()" routerLink="/auth/registro">Registrarse</a>
            </li>
          </ul>
          <ul *ngIf="authService.userLoggedIn">
            <li>
              <a (click)="toogleMenu()" routerLink="/pedidos">Ver mis pedidos</a>
            </li>
            <li *ngIf="authService.userLoggedIn.role === 'admin'">
              <a (click)="toogleMenu()" routerLink="/dashboard/home">Ir al dashboard</a>
            </li>
            <li>
              <a (click)="logout()" routerLink="/">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</header>
