<footer class="footer">
  <div class="container navbar__content">
    <section class="navbar__logo">
      <picture>
        <img src="assets/images/logo.svg" alt="logo" />
      </picture>
    </section>
    <nav class="navbar__nav">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
