@use '/src/styles/tools/media';
@use '/src/styles/tools/helpers';
@use '/src/styles/settings/colors';

.Cart {
  height: 100%;
  display: grid;
  gap: helpers.flowFromTo(10px, 40px);

  @include media.from(md) {
    grid-template-columns: 60% 40%;
  }

  @include media.from(lg) {
    grid-template-columns: 66.7% 1fr;
  }
}

.Cart-content {
  overflow: hidden;
  padding-top: 30px;
}

.Cart-content_title {
  margin-bottom: 30px;
  font-size: 30px;
}

.Cart-table {
  padding-bottom: 15px;
}

.Cart-table tbody {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.Cart-table p {
  margin: 0;
}

.Cart-Table-textSmall {
  font-size: 10px;
}

.Cart-tableRow {
  display: flex;
  gap: 30px;
  padding: 0 20px;
  background-color: #333335;
  border-radius: 15px;
}

.Cart-tableD {
  display: flex;
  align-items: center;
}

.Cart-tableD:nth-child(1) {
  gap: 15px;
  width: 200px;
}

.Cart-tableD:nth-child(3),
.Cart-tableD:nth-child(7) {
  min-width: max-content;
}

.Cart-tableImage {
  width: 87px;
}

.Cart-tableD__buttonContainer {
  display: flex;
  gap: 10px;
}

.Cart-Button {
  border-radius: 50%;
  color: white;
  background-color: #ff626a;
  border: none;
  font-weight: 700;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.Cart-Button:hover {
  background-color: darken($color: #ff626a, $amount: 20%);
}

.Cart-ButtonDelete {
  color: #ff626a;
  cursor: pointer;
  font-weight: bold;
}

.Cart-Button.Cart-Button__disabled {
  opacity: 0.5;
  pointer-events: none;
}

.Cart-content.resumen {
  margin-top: 50px;
  border-radius: 15px;
  background: colors.$bg_gradient_orange;
  color: #fff;
  padding: 50px 40px;
}

.Cart-resument__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.Cart-content.resumen p {
  margin: 0;
}

.Cart-content.resumen h2 {
  margin-top: 0;
}

.Cart-resument__descripContainer {
  display: flex;
  justify-content: space-between;
}

.Card-resumen__buttonContainer {
  display: flex;
  justify-content: center;
}

.Cart-content_title.resumen {
  font-size: helpers.flowFromTo(25px, 30px);
}

.tached {
  font-size: 12px;
  text-decoration: line-through;
}
