<section class="Cart container">
  <article class="Cart-content">
    <h2 class="Cart-content_title">Tu carrito de compra.</h2>
    <div style="overflow-x: auto">
      <table class="Cart-table">
        <tbody>
          <tr class="Cart-tableRow" *ngFor="let product of cartService.productsInCart">
            <td class="Cart-tableD">
              <img
                class="Cart-tableImage"
                [src]="product.images[0]"
                alt="imagen"
                width="87"
                height="64" />
              <div>
                <p>{{ product.brand | uppercase }}</p>
                <p class="Cart-Table-textSmall">{{ product.name }}</p>
              </div>
            </td>
            <td class="Cart-tableD">|</td>
            <td class="Cart-tableD">
              <div>
                <p *ngIf="product.ofert > 0">{{ product.ofert | currency : 'S/. ' }}</p>
                <p [class.tached]="product.ofert > 0">{{ product.price | currency : 'S/. ' }}</p>
              </div>
            </td>
            <td class="Cart-tableD">|</td>
            <td class="Cart-tableD Cart-tableD__buttonContainer">
              <button
                (click)="decrement(product.id!)"
                class="Cart-Button"
                [class.Cart-Button__disabled]="product.quantity == 1">
                -
              </button>
              <span>{{ product.quantity }}</span>
              <button (click)="increment(product.id!)" class="Cart-Button">+</button>
            </td>
            <td class="Cart-tableD">|</td>
            <td class="Cart-tableD">
              {{ product.quantity * (product.ofert || product.price) | currency : 'S/. ' }}
            </td>
            <td (click)="remove(product.id!)" class="Cart-tableD Cart-ButtonDelete">X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
  <article class="Cart-content resumen">
    <h2 class="Cart-content_title resumen">Resumen de orden.</h2>
    <div class="Cart-resument__container">
      <div class="Cart-resument__descripContainer">
        <p>N° Productos</p>
        <p>
          {{ totalObservable | async }}
        </p>
      </div>
      <div class="Cart-resument__descripContainer">
        <p>Total</p>
        <p>
          {{ totalPriceObservable | async | currency : 'S/. ' }}
        </p>
      </div>
    </div>
    <div class="Card-resumen__buttonContainer">
      <app-button (click)="toOrder()" text="Continuar orden" type="ghost"></app-button>
    </div>
  </article>
</section>
